<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.tedu.dao.UserPwdDao">
  <select id="findByName" parameterType="String" resultType="cn.tedu.entity.UserPwd">
    SELECT id,name,password FROM user_pwd WHERE name=#{name}
  </select>
</mapper>